/* ************************************* */
/* ************ DARK THEME ************ */
/* ************************************* */

.body-dark{
    background: rgb(5, 1, 129);
    transition: all .7s;
}

.icon-button-dark {
    --border-right: 6px;
    --text-stroke-color: #ffffff;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    margin: 0;
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: all .7s;
}
  
.hover-text-dark {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: #6579fc;
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid #6579fc;
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px #6579fc;
    transition: all .7s;
}
  
.icon-button-dark:hover .hover-text-dark {
    width: 8.5rem;
    filter: drop-shadow(0 0 23px #6579fc);
    transition: all .7s;
}

.header-options, .header-button-options{
    display: none;
}

.header-button-options-dark{
    color: white;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-grow: 1;
    transition: all .7s;
}

.header-button-options-dark button{
    font-family: 'Poppins', sans-serif;
    width: 7rem;
    height: 3rem;
    border: none;
    background-color: white;
    border-radius: .5rem;
    padding: .5rem 1rem .5rem 1rem;
    color: #181e4b;
    font-size: 1.2rem;
    font-weight: 300;
    transition: all .7s;
}

.header-button-options-dark button:hover{
    cursor: pointer;
    color: rgb(143, 158, 255);
    transform: scale(1.05);
    transition: all .7s;
    filter: drop-shadow(0 0 23px rgb(143, 158, 255));
}

.main-title-dark{
    font-family: 'Volkhov', sans-serif;
    line-height: normal;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    transition: all .7s;
}

.main-subtitle-dark{
    display: none;
}

.description-text-dark{
    font-family: 'Poppins', sans-serif;
    color: rgb(143, 158, 255);
    font-weight: 500;
    font-size: 1rem;
    transition: all .7s;
}

.main-buttons-dark button{
    padding: 1rem;
    border: solid white 1px;
    border-radius: .5rem;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    transition: all .7s;
}

.main-buttons-dark button:hover{
    cursor: pointer;
    background-color: white;
    color: #181e4b;
}

.services-subtitle-dark{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(143, 158, 255);
    transition: all .7s;
}

.services-title-dark{
    font-family: 'Volkhov', sans-serif;
    font-size: 2rem;
    color: white;
    transition: all .7s;
}

.destinations-subtitle-dark{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #6579fc;
    transition: all .7s;
}

.destinations-title-dark{
    font-family: 'Volkhov', sans-serif;
    font-size: 2rem;
    color: white;
    transition: all .7s;
}

.subscribe-title-dark{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 26rem;
    color: white;
    text-align: center;
    transition: all .7s;
    z-index: 1500;
}

.footer-subtitle-dark{
    font-family: 'Poppins', sans-serif;
    height: 5rem;
    font-size: .8rem;
    font-weight: bold;
    color: #6579fc;
    transition: all .7s;
}

.footer-company-title-dark, .footer-contacts-title-dark{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #6579fc;
    transition: all .7s;
}

.footer-discover-app-dark{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}

.footer-discover-app-dark h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #6579fc;    
    transition: all .7s;
}

.footer-copyright-dark{
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    color: #6579fc;
    transition: all .7s;
}