/* ************************************* */
/* ************ WHITE THEME ************ */
/* ************************************* */

* {
    margin: 0;
    padding: 0;
}

.body{
    background: rgb(101, 121, 252);
    transition: all .7s;
}

::-webkit-input-placeholder { 
    font-weight: bold;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(58, 77, 202); 
  }

  ::-webkit-scrollbar-thumb {
    background-color: #181e4b;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 34, 255);
  }

/* ************************************* */
/* ************** HEADER *************** */
/* ************************************* */

header {
    font-family: 'Poppins', sans-serif;
    display: flex;  
    flex-direction: row;
    padding: 2.5rem 0rem 2.5rem 0rem;
    justify-content: space-around;
    align-items: center;
    z-index: 1500;
}

.icon, .header-functions{
    width: 10rem;
    height: 2.3rem;
}

.icon-button {
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 2rem;
    font-family: "Arial";
    margin: 0;
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #181e4b;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: all .7s;    
}
  
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: white;
    width: 0%;
    inset: 0;
    border-right: 6px solid white;
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px white;
    transition: all .7s;
}
  
.icon-button:hover .hover-text {
    width: 8.5rem;
    filter: drop-shadow(0 0 23px white);
    transition: all .7s;
}

.header-options, .header-button-options{
    display: none;
}

.header-functions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.header-theme-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .7s;
}

.header-button-options button{
    font-family: 'Poppins', sans-serif;
    height: 3rem;
    border: none;
    background-color: #181e4b;
    border-radius: .5rem;
    padding: .5rem 1rem .5rem 1rem;
    color: white;
    font-weight: 300;
    transition: all .7s;
}

.header-button-options button:hover{
    cursor: pointer;
    color: rgb(143, 158, 255);
    transform: scale(1.05);
    transition: all .7s;
    filter: drop-shadow(0 0 23px #181e4b);
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 84px;
    height: 44px;

    & input{
        opacity: 0;
        width: 0;
        height: 0;
    }
 }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(58,83,254);
    transition: .4s;
    border-radius: 30px;

    &::before {
        position: absolute;
        content: "";
        height: 35px;
        width: 35px;
        border-radius: 20px;
        left: 5px;
        bottom: 4.5px;
        z-index: 2;
        background-color: #e8e8e8;
        transition: .4s;
    }
}
  
.sun svg {
    position: absolute;
    top: 5px;
    left: 46px;
    z-index: 1;
    width: 34px;
    height: 34px;

    animation: rotate 15s linear infinite;
}
  
.moon svg {
    fill: rgb(58,83,254);
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 34px;
    height: 34px;
}
  
@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
  
.moon svg {
    animation: tilt 5s linear infinite;
}
  
@keyframes tilt {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
  
.theme-input:checked + .slider {
    background-color: #181e4b;
}
  
.theme-input:focus + .slider {
    box-shadow: 0 0 1px #183153;
}
  
.theme-input:checked + .slider:before {
    transform: translateX(38px);
}

.header-profile{
    display: flex;
    align-items: center;
    justify-content: center;

    & button{
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    & img{
        width: 44px;
    }
}

/* O modal (oculto por padrão) */
.modal {
    display: none; /* Inicialmente invisível */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
}

/* Conteúdo do modal */
.modal-conteudo {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    position: relative;
}

/* O botão de fechar (X) */
.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

/* ************************************* */
/* ********** SECTION INTRO ************ */
/* ************************************* */

.intro{
    display: flex;  
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.services-ui-background{
    display: none;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-texts{
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 1rem;
}

.main-title{
    font-family: 'Volkhov', sans-serif;
    line-height: normal;
    font-weight: bold;
    font-size: 2rem;
    color: #181E4B;
    transition: all .7s;
}

.main-subtitle{
    display: none;
}

.main-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 300;
    font-family: 'Manrope', sans-serif;
    gap: 1rem;
    font-size: 2rem;
}

.description-text{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    transition: all .7s;
}

.main-buttons button{
    padding: 1rem;
    border: solid #181e4b 1px;
    border-radius: .5rem;
    background-color: transparent;
    color: #181E4B;
    font-size: 1.2rem;
    transition: all .7s;
}

.main-button-description{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.main-button-buy{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-button-buy img{
    background-color: transparent;
    width: 1rem;
}

.main-buttons button:hover{
    cursor: pointer;
    background-color: #181e4b;
    color: white;
}

.arrow-icon{
    transition: all .7s;
}

.traveler-icon{
    display: none;
}

.traveler-icon img{
    z-index: 100;
    width: 40rem;
    transition: all .7s;
}

/* ************************************* */
/* ********* SECTION SERVICES ********** */
/* ************************************* */

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    margin-bottom: 8rem;
}

.services-background-img{
    display: none;
}

.services-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-background-element{
    display: none;
}

.services-ui-element{
    display: none;
}

.services-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.services-subtitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    transition: all .7s;
}

.services-title{
    font-family: 'Volkhov', sans-serif;
    font-size: 2rem;
    color: #181E4B;
    transition: all .7s;
}

.services-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.services-cards-list{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    list-style: none;
    gap: 2rem;
    opacity: 1;
}

.services-card{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 14rem;
    height: 20rem;
    border-radius: 2.25rem;
    background-color: white;
    transition: all .7s ease-in-out;
    gap: 2rem;
    padding: 2rem;
}

.services-card img{
    width: 10rem;
}

.services-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: url(../images/custom-cursor.png), auto;
}

.dimmed {
    opacity: 0.5;
}

.services-card-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.services-card-text h1{
    font-family: 'Volkhov', sans-serif;
    font-size: 1.5rem;
    color: #181E4B;
}

.services-card-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #181E4B;
}

/* ************************************* */
/* ******* SECTION DESTINATIONS ******** */
/* ************************************* */

.top-destinations{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin-bottom: 8rem;
}

.destinations-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.destinations-subtitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    transition: all .7s;
}

.destinations-title{
    font-family: 'Volkhov', sans-serif;
    font-size: 2rem;
    color: #181E4B;
    transition: all .7s;
}

.destinations-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.destinations-cards-list{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    list-style: none;
    gap: 2rem;
    opacity: 1;
}

.destinations-card{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    border-radius: 2.25rem;
    transition: all .7s ease-in-out;
}

.destinations-card img{
    width: 20rem;
    border-radius: 2.25rem 2.25rem 0 0;
}

.destinations-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: url(../images/custom-cursor.png), auto;
}

.destinations-card-desc{
    width: 16rem;
    border-radius: 0 0 2.25rem 2.25rem;
    background-color: white;
    color: #5E6282;
    padding: 2rem;
}

.destinations-desc-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.destinations-desc-location{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.destinations-desc-time{
    font-family: 'Poppins', sans-serif;
    font-weight: 1rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.destinations-desc-time img{
    width: 25px;
}

.destinations-ui-element{
    display: none;
}

/* ************************************* */
/* ******** SECTION SUBSCRIBE ********** */
/* ************************************* */

.subscribe{
    display: flex;
    height: 100vh;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.subscribe-background{
    display: none;
}

.subscribe-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.subscribe-text{
    z-index: 1500;
}

.subscribe-title{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 26rem;
    color: #181E4B;
    text-align: center;
    transition: all .7s;
    z-index: 1500;
}

.subscribe-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    z-index: 1000;
}

.subscribe-form button{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 24.2rem;
    height: 4rem;
    border: none;
    background-color: rgb(58,83,254);
    color: white;
    border-radius: .5rem;
    transition: all .7s;
}

.subscribe-form button:hover{
    cursor: pointer;
    background-color: #181E4B;
}

.subscribe-email-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;
    background-color: white;
    padding: 0 1.2rem 0 1.2rem;
    border-radius: .5rem;
    gap: .8rem;
}

.subscribe-email-input input{
    border: none;
    background-color: transparent;
    width: 20rem;
    color: #39425D;
}

.subscribe-email-input input:focus-visible{
    outline: none;
}

.subscribe-email-input img{
    width: 1rem;
}

.subscribe-ui-element{
    display: none;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    max-width: 75vw;
    gap: 2rem;
}

.footer-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-texts-content{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.footer-text-title h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}
.footer-subtitle{
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    font-weight: bold;
    color: #181e4b;
    transition: all .7s;
}
.footer-links-content{
    display: flex;
    flex-direction: row;
}
.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}
.footer-list{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.footer-list-company, .footer-list-contacts{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.footer-list-social-medias{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-text{
    display: flex;
    align-items: center;
}
.footer-company-title, .footer-contacts-title{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #181e4b;
    transition: all .7s;
}
.footer-links-ref{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    height: 5rem;
}

.footer-links-ref a, .footer-social-medias-ref a{
    text-decoration: none;  
    color: white;
    transition: all .7s;
}

.footer-links-ref a:hover{
    cursor: pointer;
    color: #181e4b;    
}

.footer-social-medias-ref{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.social-medias-link{
    display: flex;
    flex-direction: row;
}

.social-medias-link img{
    transition: all .7s;
    width: 1.8rem;
}

.social-medias-link:hover img{
    opacity: 0.5;
    transition: all .7s;
}

.footer-discover-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}

.footer-discover-app h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #181e4b;
    transition: all .7s;
}

.discover-imgs a{
    text-decoration: none;
}

.discover-imgs img{
    width: 6rem;
}

.footer-copyright{
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    color: #181e4b;
    transition: all .7s;
}